body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
    background: url('../images/darkStar.jpg');

}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

// CSS to join globe pieces 
// Pangi WHO?? xD
.globe {
    border: 2px solid orange;
    border-radius: 50%;
    height: 140px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 140px;
    
    svg {
      animation: rotation 5s linear 0s infinite;
      
      path {
        stroke: orange;
      }
    }
  }

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/darkStar.jpg');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    // used to fix the img to width of screen
    width: 100%;
    // used to fit the img to the height of the viewport
    height: 100vh;
    // used for send back or forwards
    z-index: -1;
    animation: introLoad 2s forwards;

    //overflow: hidden;
}

.logo {
    color: white;
    font-weight: bold;
}

nav {
    // Used to stop nav from dissapearing when scrolling
    position: fixed;
    // position from the top
    top: 0;
    // position from the right
    right: 0;

    background: black;
    height: 100vh;
    width: 50%;
    // ensure when called upon it is the top displayed layer
    z-index: 999;
    // make text upper case
    text-transform: uppercase;
    // used to high the navigation bar for the animation
    transform: translateX(100%);
    // used to specify what propertie should animate
    // for a duration of .5 sec ease-in-out
    transition: transform .5 ease-in-out;


    // nest used to style the list elements
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        // used to style the links within the list
        a {
            color: white;
            // padding on a link element will not work unless its display block
            padding: .75em 2em;
            display: block;

            // on this a element we are going to have a hover 
            &:hover {
                background: rgb(42, 41, 41);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;

        path {
            fill: white;
        }
    }

}

header {
    //used to structure the layout
    display: flex;
    // used to create space between logo and nav
    justify-content: space-between;

    // nesting svg inside of header
    // Understood as any svg inside of header
    svg {
        width: 2.3em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

h1 {
    font-size: 1.8rem;
    margin-top: 2em;
    line-height: 3.3rem;
    text-align: center;
}

.subhead {
    font-size: 1.4rem;
}

span {
    color: orange;
}

section.hero {
    color: white;
    height: 90vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    .down-arrow {
        stroke: white;
        position: fixed;
        align-tracks: center;
        bottom: 2em;
        width: 2em;
        height: 5em;
        animation: bouncyArrow 1.8s alternate-reverse infinite;

        path {
            fill: white;
        }
    }

}

.projects-section {
    width: 100%;
    height: 100vh;
    .projects-div {
 

        .title {
            position: relative;
            font-weight: bold;
            font-size: 4.25rem;
            display: block;
            text-align: center;
            top: 0;
        }

        .projects {
            line-height: 1.5rem;
            list-style: none;
            text-align: center;
            padding: 0;
            font-size: 1.7rem;
            margin-bottom: 40;

            li {
                font-weight: bold;
                margin: 40px 0;
            }
        }
    }
}

// About section "who i am what i do"
.about-section {
    width: 100%;
    height: 100vh;
    .about-div {
        .title {       
            position: relative;
            font-weight: bold;
            font-size: 3.25rem;
            display: block;
            text-align: center;
            top: 0;

            .stroke-span{
                -webkit-text-stroke: 2px white;
                color: transparent;
            }
        }

        .about-p {
            line-height: 1.5rem;
            list-style: none;
            text-align: left;
            padding: 0;
            font-size: 1.2rem;
            margin-bottom: 40;
            padding-left: 0em;
            padding-right: 3em;
            li {
                font-weight: bold;
                margin: 40px 0;
            }
        }
    }
}

// This section is for the last section of website
// Connect with me etc
.connection-section {
   
    // To create space between different sections
    .connect-div {
         width: 100%;
         height: 100vh;
        .title {
            position: relative;
            font-weight: bold;
            font-size: 4.25rem;
            display: block;
            text-align: center;
            top: 0;
        }
        .connect-header{
            text-align: center;

            &:hover{
                color: orange;
                span{
                    color: white;
                }
            }
        }
        .email-address{
            text-align: center;
            font-weight: bold;
        }
        .CV-link{
            margin-top: 1em;
            text-align: center;

            span{
                font-weight: bold;
                font-size: 1.2em;
            }
        }
        // styling for the links 

        .connect-links{
            line-height: 1.5rem;
            list-style: none;
            text-align: center;
            padding: 0;
            font-size: 2.3rem;
            margin-bottom: 40;

            .close {
                float: right;
                margin: 2em;
                width: 2.5em;
        
                path {
                    fill: white;
                }
            }

                a{
                             
                .linkedin-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: orange;
                    }
                }
                .twitter-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: orange;
                    }
                }
                .fiverr-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: orange;  
                    }
                }
                .IG-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: orange;
                    }     
                }

                .IG-logo:hover{
                    fill: orange;
                  } 
                    
        
            }
        }
    }
}

footer{
    text-align: center;
}


// CSS for JS animation of menu 
.open-nav {
    transform: translateX(0%)
}


// media queries used to readjust the page for different devices
// the below query is an example meaning once the page dimensions reach
// 680 pixels only the rules below will count
@media only screen and (min-width:680px) {

    body {
        // added 5 em white space to left and right of body when dimension exceeds 680
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;

    }

}

@media only screen and (min-width:920px) {

    // to hide popout menu at 920 pixels
    .menu {
        display: none;
    }

    // makes the nav show up at 920px
    nav {
        transform: translateX(0);

        //in order to change nav from appearing as the mobile version
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        // makes the close button from mobile dissapear
        svg.close {
            display: none;
        }

        ul {
            // flex makes any child element become columns
            display: flex;
            margin: 0;

            a {
                color: white;
                padding: .5em 1.5;
                font-size: 0.9rem;


                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .logo {
        color: white;

        span {
            color: orange;
        }
    }

    section.hero {
        color: white;
        height: auto;
        width: 100%;
        margin-bottom: 8em;
        padding-bottom: 35.5em;
        font-size: 1.5em;

            .down-arrow{
                margin-top: auto;
                bottom: 0;
                // font-size: 2em;
            }
    }
}

@media only screen and (min-width:1200px) {

    .wrapper {
        // the wrappers max width
        width: 1200px;
        // keeps everything centered
        margin: 0 auto;
    }

    .feature {
        gap: 0;
    }
}

// defining keyframe animation
@keyframes introLoad {
    from {
        // css clippy
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

    }
}

// Animation to make arrow bounce
@keyframes bouncyArrow {
    from {
        opacity: 0;
        transform: translateY(-35px)
    }

    to {
        transform: translateY(-15px);
        opacity: 1;

    }
}

// Hero drop down animation 
@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Spinning animation for glove
@keyframes rotation {
    from {
      transform: translateX(0);
    }
    
    from {
      transform: translateX(-50%);
    }    
}
