html {
    font-family: 'Poppins', sans-serif;
    background: lightblue;
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    height: fit-content;
}

// Header
header {

    //used to structure the layout
    display: flex;
    // used to create space between logo and nav
    justify-content: space-between;

    //Menu btn resize and placement
    svg {
        width: 2.3em;
        margin-top: -.6em;
        cursor: pointer;
    }

    //Top corner Logo
    .logo {
        color: white;
        font-weight: bold;
        font-family: 'Darumadrop One', cursive;
        font-size: 4rem;
        text-decoration: none;
    }
}

// Hero 
section.hero {
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    // Hero Text
    .heroTxt {
        // text properties
        color: white;
        font-family: 'Darumadrop One', cursive;
        font-size: 7.5rem;
        font-weight: bold;
        // text alignment
        text-align: center;

        span{
            color: white;
        }
    }

    .down-arrow {
        stroke: white;
        position: fixed;
        left: 50%; /* position the element 50% from the left */
        bottom: 6em;
        transform: translateX(-50%); /* center the element horizontally */
        height: 5em;
        animation: bouncyArrow 1.8s alternate-reverse infinite;
        font-size: .5rem;
      
        path {
          fill: white;
        }
      }
    }      

// Projects
.projects-section {
    z-index: -1;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    animation: introLoad 2s forwards;

    .projects-div {
 
        .title {
            color: white;
            font-family: 'Darumadrop One', cursive;
            position: relative;
            font-weight: bold;
            font-size: 4.25rem;
            display: block;
            text-align: center;
            top: 0;
        
        }

        .projects-portfolio{
            .picture-container {
                display: inline-block;
              }

            .picture{
                width: 15rem;
                height: 15rem;
            }

            }
        }

        .projects {
            line-height: 1.5rem;
            list-style: none;
            text-align: center;
            padding: 0;
            font-size: 1.7rem;
            margin-bottom: 40;

            li {
                font-weight: bold;
                margin: 4rem 0;

                a {
                    color: white;
                    // padding on a link element will not work unless its display block

                    // on this a element we are going to have a hover 
                    &:hover {
                        color: green;
                    }
                }
            }
        }
    }

// About section "who i am what i do"
.about-section {
    background-size: cover;
    z-index: -1;
    background-position-x: 100%;
    background-position-y: 100%;
    width: 100%;
    height: 120vh;
    animation: introLoad 2s forwards;
    .about-div {
        .title {       
            position: relative;
            font-weight: bold;
            font-size: 2.3rem;
            display: block;
            text-align: center;
            top: 0;

            .stroke-span{
                -webkit-text-stroke: 2px white;
                color: transparent;
            }
        }

        .noun{
            opacity: 0.7;
            margin-bottom: 0.02em;
        }
        .myName{
            font-size: 2.3rem;
        }
        .about-p {
            line-height: 1.0rem;
            list-style: none;
            text-align: left;
            padding: 0;
            font-size: 1.2rem;
            margin-bottom: 40;
            padding-left: 0em;
            padding-right: 3em;
           
        }
    }
}

// This section is for the last section of website
// Connect with me etc
.connection-section {
    z-index: -1;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    animation: introLoad 2s forwards;
    // To create space between different sections
    .connect-div {
         width: 100%;
         height: 100vh;
        .title {
            position: relative;
            font-weight: bold;
            font-size: 4.25rem;
            display: block;
            text-align: center;
            top: 0;
        }
        .connect-header{
            text-align: center;

            &:hover{
                color: green;
                span{
                    color: white;
                }
            }
        }
        .email-address{
            text-align: center;
            font-weight: bold;
        }
        .CV-link{
            margin: 2em;
            height: 20vh;
            text-align: center;
            color: white;
            
            &:visited{
                text-decoration: none;
                color: white;
            }
            .spanCV{
                font-weight: bold;
                font-size: 1.2em;
                color: white;
            }
        }
        // styling for the links 

        .connect-links{
            line-height: 1.5rem;
            list-style: none;
            text-align: center;
            padding: 0;
            font-size: 2.3rem;
            margin-bottom: 40;

            .close {
                float: right;
                margin: 2em;
                width: 2.5em;
        
                path {
                    fill: white;
                }
            }

                a{
                             
                .linkedin-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: white;
                    }
                }
                .twitter-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: white;
                    }
                }
                .fiverr-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: white;  
                    }
                }
                .IG-logo{
                    width: 2em;
                    height: 2em;
                    path {
                        fill: white;
                    }     
                }

                .IG-logo:hover{
                    fill: green;
                  } 
                    
        
            }
        }
    }
}

footer{
    text-align: center;
}


// CSS for JS animation of menu 
.open-nav {
    transform: translateX(50%)
}


// media queries used to readjust the page for different devices
// the below query is an example meaning once the page dimensions reach
// 680 pixels only the rules below will count
@media only screen and (min-width:680px) {


    body {
        // added 5 em white space to left and right of body when dimension exceeds 680
        font-family: 'Poppins', sans-serif;
        
    }

}

@media only screen and (min-width:920px) {
    .NavBarUL {
        margin-right: 50%;
    }

    body {
        // added 5 em white space to left and right of body when dimension exceeds 680
        font-family: 'Darumadrop One', cursive;

    }

    // to hide popout menu at 920 pixels
    .menu {
        display: none;
    }

    ul.top-tag{
        display: none;
    }

    // makes the nav show up at 920px
    nav {
        transform: translateX(0);
        
        //in order to change nav from appearing as the mobile version
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        // makes the close button from mobile dissapear
        svg.close {
            display: none;
        }

        ul {
            // flex makes any child element become columns
            display: flex;
            margin: 0;

            a {
                color: white;
                padding: .5em 1.5;
                font-size: 0.9rem;


                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }


    section.hero {
        color: white;
        height: 90vh;
        width: 100%;
        margin-bottom: 8em;
        padding-bottom: 2.5em;
        
        // .down-arrow{
        //     font-size: 2em;
        // }
    }


    .about-section{
        font-size: 2em;
    }

    .about-div{
        margin: 0 1em;
    }
   
    
}

@media only screen and (min-width:1200px) {

    .wrapper {
        // the wrappers max width
        width: 1200px;
        // keeps everything centered
        margin: 0 auto;
    }

    .about-section{
        font-size: 2em;
    }

    .about-div{
        margin: 0 5em;
    }

}

// defining keyframe animation
@keyframes introLoad {
    from {
        // css clippy
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

    }
}

// Animation to make arrow bounce
@keyframes bouncyArrow {
    from {
        opacity: 0;
        transform: translateY(-35px)
    }

    to {
        transform: translateY(-15px);
        opacity: 1;

    }
}

// Hero drop down animation 
@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// Spinning animation for glove
@keyframes rotation {
    from {
      transform: translateX(0);
    }
    
    from {
      transform: translateX(-50%);
    }    
    
}
