/* Css for NavBar and Default Page */
body{
    margin:0;
    color:green;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
  }
  
  li {
    float: left;    
  }
  
  li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.3;
    transition: opacity 400ms;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    opacity:1;
  }

  .cvLink {
      background-color:black ;   
      color:green;   
  }

  .activePage{
      color: #2596be;
  }




  /* Css for Hero Image */

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* To load the Hero image */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/guyhawks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

/*Styling the hero content */
.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 1    rem;
    font-weight: 200;
    margin-top: 1rem;
}

/* Hero Button CSS */
.hero-button {
    color: green;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.525rem;
    font-weight: 450;
    cursor: pointer;
    opacity:0.3;
    transition: opacity 300ms ease-in-out;
}
.hero-button:hover {
    border: 1px solid #834C1C;
    opacity: 1;
}